footer{
    background-color: #f3e9f1;
    h3{
        color: black;
    }

    a{
        text-decoration: none;
        color: black;
    }

    p{
        color: black;
    }
    span{
        color: black;
    }

}