.presentation{
    width: 100%;
    height: auto;
    p{
        width: 100%;
    }
    strong{
        font-weight: bold;
        color: red;
    }
}
.list{
    background-color: #f3e9f1;
    &-group-item{
        &:hover{
            background-color: #f3e9f1;
        }
        img{
            width: 300px;
            height: auto;
            float: left;
            margin-right: 2em;
            @media screen and (max-width: 768px) {
                display: block;
                margin: auto;
                float: none;
            }
        }
        a{
            color: black;
        }
        .price{
            color: red;
            font-weight: bold;
            font-size: 1em;
        }
        .description{
            font-style: italic;
        }
    }
}

#ficheProduit{
    text-align: center;
    h2{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 3em;
    }
    img{
        width: 50%;
        height: auto;
        margin: auto;
        @media screen and (max-width: 768px) {
            width: 70%;
            height: auto;
            margin: auto;

        }
    }

    .price{
        color: red;
        font-weight: bold;
        font-size: 2em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    .description{
        font-style: italic;
        margin-bottom: 2em;
    }
    select{
        width: 30%;
        margin: auto;
        margin-bottom: 2em;
    }
    button{
        margin-bottom: 2em;
    }
}

#totalPanier{
    p{    
        color: red;
        font-weight: bold;
        font-size: 2em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
}

/** LOADING SPINNER **/

.loader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 95%;
    height: auto;  
    background-color: #f3e9f1;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    animation: loader 2500ms;
    animation-fill-mode: forwards;

    .fa-sync-alt{
        font-size: 8em;
        color: purple;
        animation: loader-spin 1000ms linear infinite;
        animation-fill-mode: forwards;
    }
}